[data-theme="latte"] {
  --rosewater: hsl(10.8 58.824% 66.667%);
  --flamingo: hsl(0 59.763% 66.863%);
  --pink: hsl(316.034 73.418% 69.02%);
  --mauve: hsl(266.044 85.047% 58.039%);
  --red: hsl(347.077 86.667% 44.118%);
  --maroon: hsl(354.783 76.303% 58.627%);
  --peach: hsl(21.975 99.184% 51.961%);
  --yellow: hsl(34.948 76.984% 49.412%);
  --green: hsl(109.231 57.635% 39.804%);
  --teal: hsl(183.231 73.864% 34.51%);
  --sky: hsl(197.067 96.567% 45.686%);
  --sapphire: hsl(188.859 69.953% 41.765%);
  --blue: hsl(219.907 91.489% 53.922%);
  --lavender: hsl(230.935 97.203% 71.961%);
  --text: hsl(233.793 16.022% 35.49%);
  --subtext1: hsl(233.333 12.796% 41.373%);
  --subtext0: hsl(232.8 10.373% 47.255%);
  --overlay2: hsl(232.174 9.623% 53.137%);
  --overlay1: hsl(231.429 10.048% 59.02%);
  --overlay0: hsl(228 11.236% 65.098%);
  --surface2: hsl(226.667 12.162% 70.98%);
  --surface1: hsl(225 13.559% 76.863%);
  --surface0: hsl(222.857 15.909% 82.745%);
  --base: hsl(220 23.077% 94.902%);
  --mantle: hsl(220 21.951% 91.961%);
  --crust: hsl(220 20.69% 88.627%);
}

[data-theme="frappe"] {
  --rosewater: hsl(10.286 57.377% 88.039%);
  --flamingo: hsl(0 58.537% 83.922%);
  --pink: hsl(316 73.171% 83.922%);
  --mauve: hsl(276.667 59.016% 76.078%);
  --red: hsl(358.812 67.785% 70.784%);
  --maroon: hsl(357.778 65.854% 75.882%);
  --peach: hsl(20.331 79.085% 70%);
  --yellow: hsl(39.529 62.044% 73.137%);
  --green: hsl(95.833 43.902% 67.843%);
  --teal: hsl(171.549 39.227% 64.51%);
  --sky: hsl(189.091 47.826% 72.941%);
  --sapphire: hsl(198.621 55.414% 69.216%);
  --blue: hsl(221.633 74.242% 74.118%);
  --lavender: hsl(238.909 66.265% 83.725%);
  --text: hsl(227.234 70.149% 86.863%);
  --subtext1: hsl(226.667 43.689% 79.804%);
  --subtext0: hsl(228.293 29.496% 72.745%);
  --overlay2: hsl(227.692 22.286% 65.686%);
  --overlay1: hsl(226.667 16.981% 58.431%);
  --overlay0: hsl(229.091 13.36% 51.569%);
  --surface2: hsl(228 13.274% 44.314%);
  --surface1: hsl(227.143 14.737% 37.255%);
  --surface0: hsl(230 15.584% 30.196%);
  --base: hsl(229.091 18.644% 23.137%);
  --mantle: hsl(230.526 18.812% 19.804%);
  --crust: hsl(229.412 19.54% 17.059%);
}

[data-theme="macchiato"] {
  --rosewater: hsl(10 57.692% 89.804%);
  --flamingo: hsl(0 58.333% 85.882%);
  --pink: hsl(316.071 73.684% 85.098%);
  --mauve: hsl(266.512 82.692% 79.608%);
  --red: hsl(351.176 73.913% 72.941%);
  --maroon: hsl(355.059 71.429% 76.667%);
  --peach: hsl(21.356 85.507% 72.941%);
  --yellow: hsl(40.253 69.912% 77.843%);
  --green: hsl(105.217 48.252% 71.961%);
  --teal: hsl(171.081 46.835% 69.02%);
  --sky: hsl(188.78 59.42% 72.941%);
  --sapphire: hsl(198.641 65.605% 69.216%);
  --blue: hsl(220.189 82.813% 74.902%);
  --lavender: hsl(234.462 82.278% 84.51%);
  --text: hsl(227.442 68.254% 87.647%);
  --subtext1: hsl(228 39.216% 80%);
  --subtext0: hsl(227.368 26.761% 72.157%);
  --overlay2: hsl(228.333 20% 64.706%);
  --overlay1: hsl(227.647 15.455% 56.863%);
  --overlay0: hsl(230.323 12.351% 49.216%);
  --surface2: hsl(229.655 13.744% 41.373%);
  --surface1: hsl(231.111 15.607% 33.922%);
  --surface0: hsl(230.4 18.797% 26.078%);
  --base: hsl(231.818 23.404% 18.431%);
  --mantle: hsl(233.333 23.077% 15.294%);
  --crust: hsl(235.714 22.581% 12.157%);
}

[data-theme="mocha"] {
  --rosewater: hsl(9.6 55.556% 91.176%);
  --flamingo: hsl(0 58.73% 87.647%);
  --pink: hsl(316.471 71.831% 86.078%);
  --mauve: hsl(267.407 83.505% 80.98%);
  --red: hsl(343.269 81.25% 74.902%);
  --maroon: hsl(350.4 65.217% 77.451%);
  --peach: hsl(22.957 92% 75.49%);
  --yellow: hsl(41.351 86.047% 83.137%);
  --green: hsl(115.455 54.098% 76.078%);
  --teal: hsl(170 57.353% 73.333%);
  --sky: hsl(189.184 71.014% 72.941%);
  --sapphire: hsl(198.5 75.949% 69.02%);
  --blue: hsl(217.168 91.87% 75.882%);
  --lavender: hsl(231.892 97.368% 85.098%);
  --text: hsl(226.154 63.934% 88.039%);
  --subtext1: hsl(226.667 35.294% 80%);
  --subtext0: hsl(227.647 23.611% 71.765%);
  --overlay2: hsl(228.387 16.757% 63.725%);
  --overlay1: hsl(229.655 12.775% 55.49%);
  --overlay0: hsl(230.769 10.744% 47.451%);
  --surface2: hsl(232.5 12% 39.216%);
  --surface1: hsl(234.286 13.208% 31.176%);
  --surface0: hsl(236.842 16.239% 22.941%);
  --base: hsl(240 21.053% 14.902%);
  --mantle: hsl(240 21.311% 11.961%);
  --crust: hsl(240 22.727% 8.627%);
}
